WEBHOOK_SECRET=change-me
EVO_API_TOKEN=change-me
FZAP_CHANNELS_JSON={"canal1":{"label":"Canal 1","number":"551733245765","token":"change-me"},"canal2":{"label":"Canal 2","number":"551733233694","token":"change-me"}}
