WEBHOOK_SECRET=change-me
EVO_API_TOKEN=change-me
FZAP_CHANNELS_JSON={"canal1":{"label":"CANAL 1","number":"551733245765","token":"change-me","inboxIdentifier":"canal-1","inboxName":"CANAL 1"},"canal2":{"label":"CANAL 2","number":"551733233694","token":"change-me","inboxIdentifier":"canal-2","inboxName":"CANAL 2"}}
